@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&family=Roboto:wght@100;300;400;500;700;900&family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap');

html{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width:none;
}

html::-webkit-scrollbar {
    width: 0;
    display: none;
}

body{
    font-family: Urbanist, sans-serif;
    min-height: 100vh;
    height: 100%;
    scroll-behavior: smooth;
    background-image: url(9.jpg);
}

.list-files {
	border: 1px dashed white;
}

.btn-join {
	background: #705adc;
	color: white;
    padding-left: 2rem;
    padding-right: 2rem;
	border-radius: 5px;
	font-weight: semibold;
	cursor: pointer;
    width: 300px;
    border: 1px solid transparent;
}
@media screen and (max-width: 600px) {
    .btn-join {
        width: 100%;
    }
    
}

.center-btn {
	text-align: center;
	width: 100%;
	padding-top: 25px
}

.no-files {
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	padding-top: 65px
}

.pdf-file {
	color: white;
	width: max-content;
	margin: 2%;
	margin-bottom: 0px;
	border: 1px solid white;
	padding: .5rem;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
}

@media screen and (max-width: 600px) {
    .pdf-file {
        width: 90%;
    }
}

.btn-remove {
	cursor: pointer;
	width: 30px;
	height: 30px;
	background: #c21938;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin: 5px;
	padding-top: 4px;
	text-align: center;
	border-radius: 50%;
	right: 0;
}

.btn-join:hover {
    border: 2px solid #705adc;
    color: #705adc;
  }