body{
    background-image: url('4625e583-fcee-4954-bb4a-fc719ecccf92.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 100px;
    padding: 0;
    
}

h3{
    text-align: center;
    text-decoration: wavy;
    color: blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 80px;
    border-color: aqua;
}